
@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbnail {
  width: 200px; /* new size */
  height: auto; /* maintain aspect ratio */
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* This allows the cards to wrap to the next line if necessary */
  gap: 20px; /* This adds some space between the cards */
}

.card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  text-align: center;
  font-size: 36px;
}
